@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&display=swap");
/*--------------------------- Color variations ----------------------*/
@media only screen and (max-width: 768px) {
  .mt-5 {
    margin-top: 30px !important;
  }
  .mb-5 {
    margin-bottom: 30px !important;
  }
  .pt-5 {
    padding-top: 30px !important;
  }
  .pb-5 {
    padding-bottom: 30px !important;
  }
  .py-5 {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  .container {
    flex-direction: column-reverse;
    height: auto;
    width: 350px;
    margin: 70px auto;
    top: unset;
    position: unset;
    left: unset;
    transform: unset;
  }
  .section1 {
    height: auto;
    padding: 0px;
    text-align: center;
  }
  .section1 > div {
    display: unset;
  }
  .section1 > div div {
    width: 100%;
    text-align: center;
  }
  .section2 {
    height: 234px;
    width: 315px;
  }
  .section2::after {
    width: 315px;
    height: 234px;
  }
}
.services {
  position: relative;
  padding: 20px 0;
}
.services .sec-title {
  margin-bottom: 45px;
}
.services .content-column {
  position: relative;
  margin-bottom: 50px;
}
.services .content-column .inner-column {
  position: relative;
  padding-left: 30px;
}
.services .content-column .inner-column .text {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 26px;
  color: #706f87;
  font-weight: 400;
}
.services .list-style-one {
  margin-bottom: 45px;
}
.services .btn-box {
  position: relative;
}
.services .btn-box a {
  padding: 10px 40px;
}
.services .image-column {
  position: relative;
}
.services .image-column .text-layer {
  position: absolute;
  right: -110px;
  top: 50%;
  font-size: 325px;
  line-height: 1em;
  color: #db3236;
  margin-top: -175px;
  font-weight: 500;
}
.services .image-column .inner-column {
  position: relative;
  padding-left: 80px;
  padding-bottom: 0px;
}
.services .image-column .inner-column .author-desc {
  position: absolute;
  bottom: 5%;
  z-index: 1;
  background: #fff;
  padding: 10px 15px;
  left: 22%;
  width: calc(100% - 152px);
  opacity: 0.7;
}
.services .image-column .inner-column .author-desc h2 {
  font-size: 21px;
  letter-spacing: 1px;
  text-align: center;
  color: #292b2c;
  margin: 0;
}
.services .image-column .inner-column .author-desc span {
  font-size: 16px;
  letter-spacing: 6px;
  text-align: center;
  color: #292b2c;
  display: block;
  font-weight: 400;
}
.services .image-column .inner-column:before {
  content: "";
  position: absolute;
  width: calc(50% + 80px);
  height: calc(100% + 160px);
  top: -80px;
  left: -3px;
  background: transparent;
  z-index: 0;
  border: 15px solid #766AEE;
}
.services .image-column .image-1 {
  position: relative;
}
.services .image-column .image-1 img {
  box-shadow: 0 30px 50px #706f87 8, 13, 62, 0.15;
}
.services .image-column .image-2 {
  position: absolute;
  left: 0;
  bottom: 0;
}
.services .image-column .image-2 img {
  box-shadow: 0 30px 50px #706f87 8, 13, 62, 0.15;
}
.services .image-column .video-link {
  position: absolute;
  left: 70px;
  top: 170px;
}
.services .image-column .video-link .link {
  position: relative;
  display: block;
  font-size: 22px;
  color: #292b2c;
  font-weight: 400;
  text-align: center;
  height: 100px;
  width: 100px;
  line-height: 100px;
  background-color: #848484;
  border-radius: 50%;
  box-shadow: 0 30px 50px rgba(8, 13, 62, 0.15);
  transition: all 300ms ease;
}
.services .vam_text .vam_text_h1 {
  line-height: 50px !important;
  font-size: 50px !important;
  font-weight: 500 !important;
}
.services .vam_text .team_main-head {
  margin-bottom: 40px;
}
.services .btn-box a {
  padding: 5px 30px !important;
  font-size: 15px;
}
.services .box-wrapper .shape-box {
  max-width: 100% !important;
  margin: 15px 0px 0px;
}
.services #cta-holder .grid {
  padding: 1em 0 0em;
}
.services #cta-holder figure.effect-dexter p {
  line-height: 12px !important;
  right: 30px;
  bottom: 15px;
  left: 30px;
  text-align: left !important;
}
.services #cta-holder figure.effect-dexter figcaption {
  padding: 2em !important;
  text-align: center !important;
}
.services #cta-holder figure.effect-dexter figcaption::after {
  right: 20px;
  bottom: 0px;
  left: 20px;
  top: 115px;
  height: calc(60% - 21px);
  border: 5px solid #fff;
}
.services .home-banner-area {
  margin-bottom: 0em !important;
}
.services .profile-card {
  position: relative;
  width: 100%;
  height: 100%;
  transition: 0.6s;
  z-index: 99;
  font-family: "Poppins", sans-serif;
  border-radius: 0px !important;
  height: 260px !important;
  padding: 25px;
  background: #fff;
  padding: 30px;
  transition: 0.6s;
  margin: 25px auto !important;
}
.services .profile-card .img {
  transform: translateY(-130px) !important;
}
.services .profile-card .caption {
  opacity: 1 !important;
}
.services .container {
  margin: 30px auto;
}
.services .text {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 26px;
  color: #706f87;
  font-weight: 400;
}
.services .about-section {
  padding: 20px 0px;
}
.services .about-section .content-column {
  margin-top: 0px;
}
.services .about-section .content-column .inner-column {
  padding-left: 0px !important;
}
.services .about-section .image-column .inner-column {
  padding-left: 50px !important;
}
.services .about-section .image-column .inner-column::before {
  width: calc(50% + 100px);
  height: calc(100% + 100px);
  top: -50px;
  left: -3px;
  border: 10px solid #766AEE;
}
.services .about-section .image-column .inner-column .author-desc {
  bottom: 4%;
  padding: 7px 10px;
  left: 22%;
  width: calc(100% - 65px);
}
.services .about-section .image-column .inner-column .author-desc h2 {
  font-size: 14px;
  letter-spacing: 1px;
  text-align: center;
  color: #292b2c;
  margin: 0;
}
.services .about-section .image-column .inner-column .author-desc span {
  font-size: 10px;
  letter-spacing: 3px;
  text-align: center;
  color: #292b2c;
  display: block;
  font-weight: 400;
}
.services .about-section .image-column .inner-column .image-1 img {
  max-width: 110% !important;
}
.services .sec-title {
  margin-bottom: 25px !important;
}
.services .sec-title h2 {
  font-size: 25px !important;
  margin-top: 10px;
  line-height: 26px;
}
.services .single-amenities {
  margin-bottom: 30px;
}
.services .widget-wrap {
  margin-top: 0px;
}
.services .our-vision {
  flex-direction: column-reverse;
}
.services .dropdown-menu {
  display: block !important;
  background-color: rgba(118, 106, 238, 0.1607843137);
}
.services .banner-area5 {
  min-height: 250px;
  background-position: center 67px;
  background-size: cover;
}
.services .banner-area5 .overlay-bg {
  background: rgba(1, 1, 13, 0.5098039216);
}
.services .banner-area5 .banner-content {
  margin-top: 34px;
  top: 60%;
  left: 50%;
  width: 85%;
}
.services .banner-area5 .banner-content h1 {
  font-size: 25px;
}
.services .banner-area5 .banner-content p {
  font-size: 12px;
  padding-top: 0px;
  line-height: 19px;
}
.services .team-heading {
  text-align: center;
  margin-bottom: 40px;
}
.services .profile-card {
  border-radius: 0px;
  padding: 25px;
}
.services .profile-card .img {
  transform: translateY(-130px);
}
.services .profile-card img {
  border-radius: 0px;
}
.services .profile-card .caption {
  opacity: 1;
}
.services .profile-card .caption:nth-child(1) {
  color: #848484;
}

/* ======== Mobile Screen End ========= */
/* ======== Tablet Screen Start ========= */
@media (min-width: 769px) and (max-width: 992px) {
  html {
    overflow-x: hidden !important;
  }
  .mt-5 {
    margin-top: 30px !important;
  }
  .mb-5 {
    margin-bottom: 30px !important;
  }
  .pt-5 {
    padding-top: 30px !important;
  }
  .pb-5 {
    padding-bottom: 30px !important;
  }
  .py-5 {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }
  .container {
    width: 96% !important;
    max-width: 920px !important;
  }
  .home-banner-area {
    max-height: 55vh !important;
    margin-bottom: 4em !important;
  }
  .vam_text .vam_text .vam_text_h1 {
    line-height: 60px !important;
    font-size: 60px !important;
    font-weight: 600 !important;
  }
  .about-section {
    padding: 0px 0px !important;
  }
  .services .content-column {
    margin-top: 8em;
  }
  #home-services {
    margin-top: 10em !important;
  }
  .vm-box {
    margin-top: 5em !important;
  }
  .nav-tabs > .nav-item > .nav-link {
    width: 200px;
  }
  .vision_and_mission {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .sec-title {
    margin-bottom: 20px;
  }
  .alert-msg {
    margin: 1em auto !important;
  }
  .contact-page-area .address-wrap {
    padding: 0 !important;
  }
  .timeline {
    width: 90vw;
  }
}
/* ======== Tablet Screen End ========= *//*# sourceMappingURL=global-media-query.css.map */