@import './variables';

$mob-min:280px;
$mob-max:768px;
$tablet-min:769px;
$tablet-max:992px;
$lap-min:993px;
$lap-max:1024px;
$sml-dsktp-min:1025px;
$sml-dsktp-max:1380px;
$med-dsktp-min:1381px;
$med-dsktp-max:1580px;
$lrg-dsktp-min:1581px;
$lrg-dsktp-max:1920px;

@media only screen and (max-width: $mob-max) {
    .mt-5{
        margin-top: 30px !important;
    }
    .mb-5{
        margin-bottom: 30px !important;
    }
    .pt-5{
        padding-top: 30px !important;
    }
    .pb-5{
        padding-bottom: 30px !important;
    }
    .py-5{
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }

	.container {
		flex-direction: column-reverse;
		height: auto;
		width: 350px;
		margin: 70px auto;
		top: unset;
		position: unset;
		left: unset;
		transform: unset;
	}
	.section1 {
		height: auto;
		padding: 0px;
		text-align: center;
		>div {
			display: unset;
			div {
				width: 100%;
				text-align: center;
			}
		}
	}
	.section2 {
		height: 234px;
		width: 315px;
		&::after {
			width: 315px;
			height: 234px;
		}
	}
}

.services {
	position: relative;
	padding: 20px 0;
	.sec-title {
		margin-bottom: 45px;
	}
	.content-column {
		position: relative;
		margin-bottom: 50px;
		.inner-column {
			position: relative;
			padding-left: 30px;
			.text {
				margin-top: 20px;
				margin-bottom: 20px;
				font-size: 16px;
				line-height: 26px;
				color: $text-color;
				font-weight: 400;
			}
		}
	}
	
	.list-style-one {
		margin-bottom: 45px;
	}
	.btn-box {
		position: relative;
		a {
			padding: 10px 40px;
		}
	}
	.image-column {
		position: relative;
		.text-layer {
			position: absolute;
			right: -110px;
			top: 50%;
			font-size: 325px;
			line-height: 1em;
			color: $color_5;
			margin-top: -175px;
			font-weight: 500;
		}
		.inner-column {
			position: relative;
			padding-left: 80px;
			padding-bottom: 0px;
			.author-desc {
				position: absolute;
				bottom: 5%;
				z-index: 1;
				background: $white;
				padding: 10px 15px;
				left: 22%;
				width: calc(100% - 152px);
                opacity: 0.7;
				h2 {
					font-size: 21px;
					letter-spacing: 1px;
					text-align: center;
					color: $color_2;
					margin: 0;
				}
				span {
					font-size: 16px;
					letter-spacing: 6px;
					text-align: center;
					color: $color_2;
					display: block;
					font-weight: 400;
				}
			}
			&:before {
				content: '';
				position: absolute;
				width: calc(50% + 80px);
				height: calc(100% + 160px);
				top: -80px;
				left: -3px;
				background: transparent;
				z-index: 0;
				border: 15px solid $primary-color;
			}
		}
		.image-1 {
			position: relative;
			img {
				box-shadow: 0 30px 50px $text-color(8,13,62,.15);
			}
		}
		.image-2 {
			position: absolute;
			left: 0;
			bottom: 0;
			img {
				box-shadow: 0 30px 50px $text-color(8,13,62,.15);
			}
		}
		.video-link {
			position: absolute;
			left: 70px;
			top: 170px;
			.link {
				position: relative;
				display: block;
				font-size: 22px;
				color: $color_2;
				font-weight: 400;
				text-align: center;
				height: 100px;
				width: 100px;
				line-height: 100px;
				background-color: $color_3;
				border-radius: 50%;
				box-shadow: 0 30px 50px rgba(8,13,62,.15);
				-webkit-transition: all 300ms ease;
				-moz-transition: all 300ms ease;
				-ms-transition: all 300ms ease;
				-o-transition: all 300ms ease;
				transition: all 300ms ease;
			}
		}
	}

    .vam_text{
        .vam_text_h1{
            line-height: 50px !important;
            font-size: 50px !important;
            font-weight: 500 !important;
        }
		.team_main-head{
			margin-bottom: 40px;
		}
    }




    .btn-box{
        a{
            padding: 5px 30px !important;
            font-size: 15px;
        }
    }



    .box-wrapper{
        .shape-box{
            max-width: 100% !important;
            margin: 15px 0px 0px;
        }
    } 


    #cta-holder {
        .grid{
            padding: 1em 0 0em;
        }
        figure.effect-dexter {
            p{
                line-height: 12px !important;
                right: 30px;
                bottom: 15px;
                left: 30px;
                text-align: left !important;
            }
            figcaption {
                padding: 2em !important;
                text-align: center !important;
        
                &::after{
                    right: 20px;
                    bottom: 0px;
                    left: 20px;
					top: 115px;
                    height: calc(60% - 21px);
                    border: 5px solid #fff;
                }
            }
        }
    }



	.home-banner-area {
		margin-bottom: 0em !important;
	  }
	
    .profile-card {
		position: relative;
		width: 100%;
		height: 100%;
		transition: 0.6s;
		z-index: 99;
        font-family: $primary-font;
        border-radius: 0px !important;
		height: 260px !important;
		padding: 25px;
        background: #fff;
        padding: 30px;
        transition: .6s;
		margin: 25px auto !important;
        .img {
            transform: translateY(-130px) !important;
        }
        .caption {
            opacity: 1 !important;
        }
    }
    .container{
        margin: 30px auto;
    }
	.text {
		margin-top: 20px;
		margin-bottom: 20px;
		font-size: 16px;
		line-height: 26px;
		color: $text-color;
		font-weight: 400;
	}
 
    .about-section {
        padding: 20px 0px;
        .content-column{
            margin-top: 0px;
            .inner-column{
                padding-left: 0px !important;
    
            }
        }
    
        .image-column{
            .inner-column{
                padding-left: 50px !important;
    
                &::before{
                    width: calc(50% + 100px);
                    height: calc(100% + 100px);
                    top: -50px;
                    left: -3px;
                    border: 10px solid #766AEE;
                }
                
                .author-desc{
                    bottom: 4%;
                    padding: 7px 10px;
                    left: 22%;
                    width: calc(100% - 65px);
                    h2{
                        font-size: 14px;
                        letter-spacing: 1px;
                        text-align: center;
                        color: #292b2c;
                        margin: 0;
                    }
                    span{
                        font-size: 10px;
                        letter-spacing: 3px;
                        text-align: center;
                        color: #292b2c;
                        display: block;
                        font-weight: 400;
                    }
                }
    
                .image-1{
                    img{
                        max-width: 110% !important;
                    }
                }
            }
        }
    }
    
    .sec-title {
        margin-bottom: 25px !important;
        h2{
            font-size: 25px !important;
            margin-top: 10px;
            line-height: 26px;
        }
    }

    .single-amenities {
        margin-bottom: 30px;
      }

      .widget-wrap {
          margin-top: 0px;
        }

    
    .our-vision{
        flex-direction: column-reverse;
    }

    .dropdown-menu {
		display: block !important;
		background-color: $bg1;
	}
	.banner-area5 {
		min-height: 250px;
		background-position: center 67px;
		background-size: cover;
		.overlay-bg{
			background: #01010d82;
		}
		.banner-content{
			margin-top: 34px;
			top: 60%;
			left: 50%;
			width: 85%;
			h1{
				font-size: 25px;
			}
			p{
				font-size: 12px;
				padding-top: 0px;
				line-height: 19px;
			}
		}
	}
	.team-heading{
		text-align: center;
		margin-bottom: 40px;
	}
	
	.profile-card{
		border-radius: 0px;
		// height: 260px;
		padding: 25px;
		.img {
			transform: translateY(-130px);
		}
		img {
			border-radius: 0px;
		}
		.caption {
			opacity: 1;
			&:nth-child(1){
				color: $color_3;
			}
		}
	}
	
}

/* ======== Mobile Screen End ========= */

/* ======== Tablet Screen Start ========= */

@media (min-width:$tablet-min) and (max-width:$tablet-max) {
	html{
		overflow-x: hidden !important;
	}
	.mt-5{
        margin-top: 30px !important;
    }
    .mb-5{
        margin-bottom: 30px !important;
    }
    .pt-5{
        padding-top: 30px !important;
    }
    .pb-5{
        padding-bottom: 30px !important;
    }
    .py-5{
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }
	.container {
		width: 96% !important;
		max-width: 920px !important;
	}
	.home-banner-area {
		max-height: 55vh !important;
		margin-bottom: 4em !important;
	  }
	  .vam_text {
	  	.vam_text .vam_text_h1 {
			line-height: 60px !important;
			font-size: 60px !important;
			font-weight: 600 !important;
	  	}
	  }
	  
	.about-section {
		padding: 0px 0px !important;
	  }

	  .services .content-column {
		margin-top: 8em;
	  }
	  #home-services{
		margin-top: 10em !important;
	  }
	  .vm-box{
		margin-top: 5em !important;
	  }

	  .nav-tabs>.nav-item>.nav-link {
		width: 200px;
	}
	.vision_and_mission {
		padding-top: 30px;
		padding-bottom: 30px;
	  }
	  .sec-title {
		margin-bottom: 20px;
	  }
	  .alert-msg{
		margin:1em auto !important;
	  }
	  .contact-page-area {
		.address-wrap {
			padding: 0 !important;
		}
	}
	.timeline {
		width: 90vw;
	  }
}


// @media (max-width:992px){
// 	.services .content-column {
// 		margin-top: 8em;
// 	  }
// }


/* ======== Tablet Screen End ========= */